[buildout]
extensions = mr.developer
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
package-name = plone.formwidget.namedfile
package-extras = [test]
versions = versions
parts +=
    omelette
    releaser
    code-analysis
    coverage-sh
    code-analysis
    createcoverage
auto-checkout =
    plone.namedfile

[sources]
plone.namedfile = git https://github.com/plone/plone.namedfile branch=range

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    pyroma

[versions]
plone.formwidget.namedfile =
plone.namedfile =
zc.buildout =
setuptools =
